sys
numpy
matplotlib
pandas
future
scipy
xarray
attrdict
openpyxl
pyyaml
numba
numdifftools
six
netCDF4
grid_strategy
xlwt
xlrd
requests
oceans
git+https://github.com/wesleybowman/UTide.git
git+https://github.com/python-windrose/windrose