numpy  == 1.19.1
matplotlib == 3.3.0
pandas == 1.1.1
future == 0.18.2
scipy == 1.5.2
xarray == 0.16.0
PyQt5
git+https://github.com/python-windrose/windrose
attrdict
openpyxl == 3.0.4
pyyaml == 5.3.1
numba == 0.38.0
numdifftools>=0.2
git+https://github.com/wesleybowman/UTide.git
git+https://github.com/wafo-project/pywafo.git
mplcyberpunk
six
netCDF4==1.5.3
grid_strategy