#sys
numpy
matplotlib
pandas
future
scipy
xarray
git+https://github.com/python-windrose/windrose
attrdict
openpyxl
pyyaml
numba
numdifftools
git+https://github.com/wesleybowman/UTide.git
#git+https://github.com/wafo-project/pywafo.git
six
netCDF4
grid_strategy
xlwt
xlrd
requests
oceans

