numpy
matplotlib
pandas
future
scipy
xarray
git+https://github.com/python-windrose/windrose
openpyxl
pyyaml
numba
numdifftools
git+https://github.com/wesleybowman/UTide.git
six
netCDF4
grid_strategy
xlwt
xlrd
requests
pysqlite3